# Built-in Data Structures, Functions,

## Data Structures and Sequences

### Tuple

In [2]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [5]:
# 使用tuple函数将任意序列或迭代器转换为元组
tuple([4, 0, 2])

(4, 0, 2)

In [6]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [7]:
# 可以使用+号连接元组来生成更长的元组
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

#### Unpacking tuples

In [8]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [9]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9