In [18]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('../data/learn_pandas.csv', usecols=['School', 'Grade', 'Name', 'Gender', 'Weight', 'Transfer'])
df['Name'].head()

0      Gaopeng Yang
1    Changqiang You
2           Mei Sun
3      Xiaojuan Sun
4       Gaojuan You
Name: Name, dtype: object

In [12]:
df_demo = df.set_index('Name')
df_demo.head()

,School,Grade,Gender,Weight,Transfer
Name,,,,,
Gaopeng Yang,Shanghai Jiao Tong University,Freshman,Female,46.0,N
Changqiang You,Peking University,Freshman,Male,70.0,N
Mei Sun,Shanghai Jiao Tong University,Senior,Male,89.0,N
Xiaojuan Sun,Fudan University,Sophomore,Female,41.0,N
Gaojuan You,Fudan University,Sophomore,Male,74.0,N

In [13]:
df_loc_slice_demo = df_demo.copy()
df_loc_slice_demo.index = range(df_demo.shape[0], 0, -1)
df_loc_slice_demo.loc[5:3]

                          School   Grade  Gender  Weight Transfer
5               Fudan University  Junior  Female    46.0        N
4            Tsinghua University  Senior  Female    50.0        N
3  Shanghai Jiao Tong University  Senior  Female    45.0        N

In [14]:
df_loc_slice_demo.head()

                            School      Grade  Gender  Weight Transfer
200  Shanghai Jiao Tong University   Freshman  Female    46.0        N
199              Peking University   Freshman    Male    70.0        N
198  Shanghai Jiao Tong University     Senior    Male    89.0        N
197               Fudan University  Sophomore  Female    41.0        N
196               Fudan University  Sophomore    Male    74.0        N

In [15]:
df_loc_slice_demo.loc[3:5]  # 没有返回，说明不是整数位置切片

Empty DataFrame
Columns: [School, Grade, Gender, Weight, Transfer]
Index: []

In [17]:
df_loc_slice_demo.loc[3:5:-1]

                          School   Grade  Gender  Weight Transfer
3  Shanghai Jiao Tong University  Senior  Female    45.0        N
4            Tsinghua University  Senior  Female    50.0        N
5               Fudan University  Junior  Female    46.0        N

In [19]:
np.random.seed(0)
multi_index = pd.MultiIndex.from_product([list('ABCD'), df.Gender.unique()], names=('School', 'Gender'))
multi_column = pd.MultiIndex.from_product([['Height', 'Weight'], df.Grade.unique()], names=('Indicator', 'Grade'))
df_multi = pd.DataFrame(np.c_[(np.random.randn(8, 4) * 5 + 163).tolist(), (np.random.randn(8, 4) * 5 + 65).tolist()],
                        index=multi_index, columns=multi_column).round(1)
df_multi

Indicator       Height                           Weight                   \
Grade         Freshman Senior Sophomore Junior Freshman Senior Sophomore
School Gender
A      Female    171.8  165.0     167.9  174.2     60.6   55.1      63.3
       Male      172.3  158.1     167.8  162.2     71.2   71.0      63.1
B      Female    162.5  165.1     163.7  170.3     59.8   57.9      56.5
       Male      166.8  163.6     165.2  164.7     62.5   62.8      58.7
C      Female    170.5  162.0     164.6  158.7     56.9   63.9      60.5
       Male      150.2  166.3     167.3  159.3     62.4   59.1      64.9
D      Female    174.3  155.7     163.2  162.1     65.3   66.5      61.8
       Male      170.7  170.3     163.8  164.9     61.6   63.2      60.9

Indicator
Grade         Junior
School Gender
A      Female   65.8
       Male     63.5
B      Female   74.8
       Male     68.9
C      Female   66.9
       Male     67.1
D      Female   63.2
       Male     56.4

In [20]:
df_multi = df.set_index(['School', 'Grade'])
df_multi.head()

                                                   Name  Gender  Weight  \
School                        Grade
Shanghai Jiao Tong University Freshman     Gaopeng Yang  Female    46.0
Peking University             Freshman   Changqiang You    Male    70.0
Shanghai Jiao Tong University Senior            Mei Sun    Male    89.0
Fudan University              Sophomore    Xiaojuan Sun  Female    41.0
                              Sophomore     Gaojuan You    Male    74.0

                                        Transfer
School                        Grade
Shanghai Jiao Tong University Freshman         N
Peking University             Freshman         N
Shanghai Jiao Tong University Senior           N
Fudan University              Sophomore        N
                              Sophomore        N

In [22]:
s = pd.Series([1, 3, 6, 10, 15])
s

0     1
1     3
2     6
3    10
4    15
dtype: int64

In [23]:
s.pct_change()

0         NaN
1    2.000000
2    1.000000
3    0.666667
4    0.500000
dtype: float64